

/* ヘッダー文字装飾 */
.header__logo {
    text-align: left;
    color: rgb(245, 170, 19);
    font-size: 20px;
    font-family: "Courgette","游ゴシック", sans-serif;
}

/* コンテンツのバックカラー */

html, body{
    height: 100%;
    margin: 0;
}

.header{
    height: 60px;
}

.content {
    min-height: calc(100vh - 60px); /* ヘッダーを引いた残り全部 */
    background-color: rgb(227, 226, 226);
}

